body,
p,
a,
img,
li,
ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: #191919;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

form {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      rgba(252, 252, 252, 0.925),
      rgba(252, 252, 252, 0.925)
    ),
    url("../imgs/pexels-photo-220326.jpeg") fixed;
  background-size: cover;
  margin: 0 auto;
}

.wrapper {
  padding: 80px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-size: 48px;
  margin-top: 48px;
  margin-bottom: 8px;
  text-align: center;
}
.title-alt {
  color: #f35a62;
}

.search-form {
  text-align: center;
  margin-bottom: 80px;
}
.search-form #search {
  border: 4px solid #f35a62;
  width: 400px;
  box-sizing: border-box;
  padding: 8px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 16px;
  outline: 0;
}
.search-form #search:focus {
  border: 4px solid #ff737a;
}
.search-form #searchBtn {
  background-color: #f35a62;
  color: white;
  border: 0;
  padding: 12px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 16px;
  transition: 125ms ease-in-out;
  outline: 0;
  cursor: pointer;
  transform: translateX(-3px);
}
.search-form #searchBtn:hover {
  background-color: #ff737a;
}

.message {
  width: 100%;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-bottom: 80px;
}

.alertMessage {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-align: center;
}
.red {
  color: #f35a62;
  font-weight: 400;
}

.book-item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  min-height: 255px;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  animation-duration: 750ms;
  animation-name: fadeInLeft;
}

.book-img-wrapper {
  display: flex;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #f35a62;
  height: 100%;
}

.book-img {
  object-fit: contain;
  max-height: 212px;
  max-width: 128px;
  padding: 32px;
}

.book-info {
  padding: 0 32px 0 16px;
  align-self: center;
}

.book-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.book-author {
  font-weight: 300;
}

.book-publish {
  font-weight: 300;
}

.book-link {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #f35a62;
  margin-top: 16px;
  font-size: 16px;
  padding: 8px 16px;
  transition: 125ms ease-in-out;
}
.book-link:hover {
  background-color: #ff737a;
}

.pagination {
  display: flex;
  justify-content: center;
}


.paginate-btns {
  background: #f35b63;
  color: white;
  font-size: 24px;
  border: none;
  padding: 8px 16px;
  margin-right: 16px;
}

.paginate-btns:last-child {
  margin-right: 0
}

.paginate-btns:hover {
  cursor: pointer;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 633px) {
  .search-form #search {
    width: calc(100% - 75px);
  }
}

@media only screen and (max-width: 560px) {
  .wrapper {
    padding: 32px;
  }
}

@media only screen and (max-width: 465px) {
  .wrapper {
    padding: 24px;
  }

  #app {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .book-img-wrapper {
    align-items: center;
  }

  .book-img {
    padding: 20px;
  }

  .book-info {
    padding: 24px 24px 24px 16px;
  }

  .book-title {
    line-height: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .book-img {
    padding: 16px;
  }
}