body,
p,
a,
img,
li,
ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  color: #191919;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

form {
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(
      rgba(252, 252, 252, 0.925),
      rgba(252, 252, 252, 0.925)
    ),
    url("../imgs/pexels-photo-220326.jpeg") fixed;
  background-size: cover;
  margin: 0 auto;
}

.wrapper {
  padding: 80px;
  margin: 0 auto;
}